# Twitter API credentials
twitter_credentials.txt

# IDE junk
.idea
.spyproject/*

# Exclude tweet files except an example tweet set or few
tweets/*
!tweets/bats.txt.bz2

# pip-tools
requirements.txt

# pyenv
.python-version

# Compiled Python
*__pycache__*
